@import 'src/common/style/responsive';

.parent {
  max-height: 60px;
  column-gap: 20px;
  background-color: ghostwhite;
  padding: 0 32px 0 32px;
  height: 64px;
  z-index: 100;
  position: sticky;
  top: 0;
}
