.parent {
    width: inherit;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid var(--color-light-04);
    background-color: var(--color-light-01);
  
    &Medium {
      height: 40px;
    }
  
    &Small {
      height: 23px;
      border: 1px solid var(--color-light-06);
  
      div {
        padding: 0 8px 0 8px !important;
      }
  
      span {
        font-size: 12px !important;
      }
  
      img {
        width: 14px;
        margin: 2px -4px 0 0;
      }
    }
  
    div {
      border: none !important;
    }
  
    &Skeleton {
      padding: 40px 0 0 0;
    }
  }
  
  .label {
    font-style: normal;
    font-weight: 500;
    color: var(--color-dark-06);
    margin-bottom: 0;
    padding: 0 0 4px 0;
    font-size: 13px;
    line-height: 20px;
  }
  
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }