.button {
  width: inherit !important;
  height: inherit !important;
  font-style: normal;
  border-radius: 6px !important;
  color: var(--color-secondary-100) !important;

  &Primary {
    background-color: var(--color-primary-100) !important;

    &:disabled {
      background-color: var(--color-primary-20) !important;
      color: var(--color-primary-40) !important;
      border: 1px solid transparent !important;
    }

    &:hover {
      border-color: transparent !important;
    }
  }

  &Secondary {
    border: 1px solid var(--color-primary-100) !important;
    color: var(--color-secondary-100) !important;

    &:disabled {
      background-color: initial !important;
      border: 1px solid var(--color-primary-40) !important;
      color: var(--color-primary-40) !important;
    }
  }

  &Tertiary {
    background-color: var(--color-secondary-100) !important;
    border: none !important;
    box-shadow: none !important;
    color: var(--color-white) !important;
    height: 30px !important;
  }

  &Default {
    background-color: transparent !important;
    border: 0 !important;
    width: auto !important;
    height: auto !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }

  &Small {
    height: 30px !important;
    padding: 0 24px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
  }

  &Medium {
    padding: 0 32px !important;
    width: min-content !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    height: 40px !important;
  }

  &Large {
    width: 100% !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    height: 40px !important;
    padding: 0;
  }

  &Danger {
    background-color: var(--color-required) !important;
    color: var(--color-white) !important;
  }

  &Success {
    background-color: transparent !important;
    border: 1px solid var(--color-success) !important;
    color: var(--color-success) !important;
  }

  &Spinner {
    height: 25px !important;
  }
}
