.ant-picker-dropdown{
    z-index: 1056;
}

.rs-picker-daterange-menu {
    z-index: 10000000000; /* added a large random number, you can choose it more carefully based on your use-case.*/
  }

  #date-popup > div {
    position: relative !important;
  }